@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  font-size: var(--text-xl);
  position: relative;
}

.hello-world {
  z-index: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.saturn-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  z-index: -111;
}

.wave-image {
  width: 4rem;
  height: 4rem;
  animation: wave 1.5s infinite;
}
