.navbar {
  position: relative;
  z-index: 1;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}
